<div class=" row">
	<div class="col-md-7">
		<h4 class="kt-portlet__head-title">
			<span>You are <b><i>{{role}}</i></b> of this site.</span>
		</h4>

	</div>
	<div class="col-md-5" style="text-align: right;">
		<button (click)="addCustomers()" mat-raised-button matTooltip="Create new customer" color="primary" type="button">
			<span>New Customer</span>
		</button>
	</div>
</div>
<div class="example-header">
	<mat-form-field>
		<input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
	</mat-form-field>
</div>
<div class="example-container mat-elevation-z8">
	<mat-table [dataSource]="dataSource" matSort>
		<!-- ID Column -->

		<ng-container matColumnDef="id" class="text-center">
			<mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
			<mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
		</ng-container>

		<ng-container matColumnDef="customer_no" class="text-center">
			<mat-header-cell *matHeaderCellDef mat-sort-header> Customer_No </mat-header-cell>
			<mat-cell *matCellDef="let row"> {{row.customer_no}} </mat-cell>
		</ng-container>

		<ng-container matColumnDef="name">
			<mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
			<mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
		</ng-container>
		<!-- Name Column -->
		<ng-container matColumnDef="email">
			<mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
			<mat-cell *matCellDef="let row">
			<span> <u>{{row.email}}</u> </span>
			</mat-cell>
		</ng-container>

		<ng-container matColumnDef="customer_type">
			<mat-header-cell *matHeaderCellDef mat-sort-header> Customer_Type </mat-header-cell>
			<mat-cell *matCellDef="let row">
				<span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--primary">{{row.customer_type}}</span>
			</mat-cell>
		</ng-container>

		<ng-container matColumnDef="pre_contract">
			<mat-header-cell *matHeaderCellDef mat-sort-header> Pre_Contract </mat-header-cell>
			<mat-cell *matCellDef="let row">
				<span class="kt-badge kt-badge--inline kt-badge--pill kt-badge--success">{{row.pre_contract}}</span>
			</mat-cell>
		</ng-container>

		<ng-container matColumnDef="pre_contract_date">
			<mat-header-cell *matHeaderCellDef mat-sort-header> Pre_Contract_Date </mat-header-cell>
			<mat-cell *matCellDef="let row"> <mat-icon>update</mat-icon>{{row.pre_contract_date}} </mat-cell>
		</ng-container>

		<ng-container matColumnDef="purchase_contract">
			<mat-header-cell *matHeaderCellDef mat-sort-header> Purchase_Contract </mat-header-cell>
			<mat-cell *matCellDef="let row"> {{row.purchase_contract}} </mat-cell>
		</ng-container>

		<ng-container matColumnDef="created_at">
			<mat-header-cell *matHeaderCellDef mat-sort-header> Created_At </mat-header-cell>
			<mat-cell *matCellDef="let row"> <mat-icon>av_timer</mat-icon>{{row.created_at}} </mat-cell>
		</ng-container>


		<ng-container matColumnDef="action">
			<mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
			<mat-cell *matCellDef="let row">
				<!--<button mat-icon-button color="danger" matTooltip="Show Users" >-->
					<!--<mat-icon>visibility</mat-icon>-->
				<!--</button>-->
				<button mat-icon-button color="primary" matTooltip="Edit Users" (click)="editCustomers(row.original_id)">
					<mat-icon>create</mat-icon>
				</button>&nbsp;
				<button mat-icon-button
						color="warn"
						matTooltip="Delete Users"
						type="button"
						(click)="deleteCustomers(row.id)" disabled="{{!adminIf}}">
					<mat-icon>delete</mat-icon>
				</button>&nbsp;

			</mat-cell>
		</ng-container>

		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedColumns;">
		</mat-row>
	</mat-table>
	<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

